saas/workflows/Waitlist Lead Onboarding.json
{
  "name": "Waitlist Lead Onboarding",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "leads/beschwerden",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "5e384b85-36c5-47d9-ab75-cb2350b95e4d",
      "name": "Webhook",
      "webhookId": "61681538-5e6c-429c-a945-c49903f8d2ef",
      "credentials": {
        "httpHeaderAuth": {
          "id": "zKEgT2CmULIak8MB",
          "name": "Header vercel auth"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $json.body.company }}",
        "additionalFields": {}
      },
      "type": "@linkedpromo/n8n-nodes-twenty.twentyCrm",
      "typeVersion": 1,
      "position": [220, -160],
      "id": "73aea67f-7a1d-47d4-9f7e-c425aa65d3ce",
      "name": "Create a company",
      "continueOnFail": true,
      "credentials": {
        "twentyCrmApi": {
          "id": "yWpq66lClASkeKTo",
          "name": "Twenty CRM account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [440, 0],
      "id": "0eab85dd-f1e3-4119-8102-457b44c6ae91",
      "name": "Merge"
    },
    {
      "parameters": {
        "resource": "person",
        "firstName": "={{ $json.body.name.split(' ')[0] }}",
        "lastName": "={{ $json.body.name.split(' ').slice(1).join(' ') || '' }}",
        "additionalFields": {
          "companyId": "={{ $json.data.createCompany.id }}",
          "email": "={{ $json.body.email }}",
          "phone": "={{ $json.body.phone || '' }}"
        }
      },
      "type": "@linkedpromo/n8n-nodes-twenty.twentyCrm",
      "typeVersion": 1,
      "position": [660, 0],
      "id": "64fb3133-b7f4-4c00-b24c-804c625a9d79",
      "name": "Create a person",
      "credentials": {
        "twentyCrmApi": {
          "id": "yWpq66lClASkeKTo",
          "name": "Twenty CRM account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "waitlist@gcbavaria.com",
        "toEmail": "={{ $('Webhook').item.json.body.email }}",
        "subject": "Du bist auf der OUTAG3 Waitlist ✓",
        "emailType": "html",
        "html": "<!DOCTYPE html><html lang=\"de\"><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"><meta name=\"color-scheme\" content=\"dark\"><style>@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');body,table,td,a{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}table,td{mso-table-lspace:0;mso-table-rspace:0}body{margin:0;padding:0;width:100%!important;background-color:#0a0e1a}@media only screen and (max-width:600px){.container{width:100%!important;padding:0 16px!important}.content-padding{padding:28px 20px!important}.heading{font-size:26px!important}}</style></head><body style=\"margin:0;padding:0;background-color:#0a0e1a;font-family:'Helvetica Neue',Arial,sans-serif\"><div style=\"display:none;max-height:0;overflow:hidden\">Du bist auf der OUTAG3 Waitlist. Wir melden uns, sobald der Pilot startet.</div><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#0a0e1a\"><tr><td align=\"center\" style=\"padding:40px 16px\"><table role=\"presentation\" class=\"container\" width=\"560\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"max-width:560px;width:100%\"><tr><td style=\"height:3px;background:linear-gradient(90deg,#ccff00,#00e5ff,#d400ff);font-size:0;line-height:0\">&nbsp;</td></tr><tr><td class=\"content-padding\" style=\"background-color:#131825;border-left:1px solid rgba(255,255,255,0.08);border-right:1px solid rgba(255,255,255,0.08);padding:40px 36px\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"font-family:'Share Tech Mono','Courier New',monospace;font-size:28px;font-weight:bold;letter-spacing:2px;padding-bottom:32px\"><span style=\"color:#fff\">OUTAG</span><span style=\"color:#ccff00\">3</span></td></tr></table><table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"background-color:rgba(204,255,0,0.12);border:1px solid rgba(204,255,0,0.25);border-radius:100px;padding:5px 14px;font-family:'Share Tech Mono','Courier New',monospace;font-size:10px;letter-spacing:2px;color:#ccff00;text-transform:uppercase\">Waitlist bestätigt</td></tr></table><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td class=\"heading\" style=\"font-family:'Share Tech Mono','Courier New',monospace;font-size:30px;font-weight:600;color:#fff;line-height:1.2;padding-top:20px;padding-bottom:8px\">Du bist dabei, {{ $('Webhook').item.json.body.name.split(' ')[0] }}.</td></tr></table><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:15px;line-height:1.7;color:#a1a1aa;padding-bottom:28px\">Deine Anmeldung für die OUTAG3 Waitlist ist eingegangen. Sobald der Pilot startet, bist du als Erster dabei.</td></tr></table><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"padding-bottom:28px\"><table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"width:4px;height:2px;background-color:#ccff00\"></td><td style=\"width:4px;height:2px\"></td><td style=\"width:4px;height:2px;background-color:#ccff00\"></td><td style=\"width:4px;height:2px\"></td><td style=\"width:4px;height:2px;background-color:#ccff00\"></td><td style=\"width:4px;height:2px\"></td><td style=\"width:4px;height:2px;background-color:#ccff00\"></td><td style=\"width:4px;height:2px\"></td><td style=\"width:4px;height:2px;background-color:#ccff00\"></td><td style=\"width:4px;height:2px\"></td><td style=\"width:4px;height:2px;background-color:#ccff00\"></td><td style=\"width:4px;height:2px\"></td><td style=\"width:4px;height:2px;background-color:#ccff00\"></td><td style=\"width:4px;height:2px\"></td><td style=\"width:4px;height:2px;background-color:#ccff00\"></td></tr></table></td></tr></table><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"font-family:'Share Tech Mono','Courier New',monospace;font-size:10px;letter-spacing:2px;color:#00e5ff;text-transform:uppercase;padding-bottom:14px\">Was passiert als nächstes?</td></tr></table><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"padding-bottom:28px\"><tr><td width=\"36\" valign=\"top\" style=\"padding-bottom:16px\"><table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"width:28px;height:28px;border-radius:8px;background-color:rgba(204,255,0,0.12);border:1px solid rgba(204,255,0,0.2);text-align:center;font-family:'Share Tech Mono','Courier New',monospace;font-size:12px;font-weight:bold;color:#ccff00;line-height:28px\">01</td></tr></table></td><td style=\"padding-left:12px;padding-bottom:16px;vertical-align:top\"><span style=\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:14px;font-weight:600;color:#e4e4e7;display:block;padding-bottom:2px\">Wir prüfen deine Daten</span><span style=\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:13px;color:#71717a;line-height:1.5\">Dein Profil wird für den Pilot vorbereitet.</span></td></tr><tr><td width=\"36\" valign=\"top\" style=\"padding-bottom:16px\"><table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"width:28px;height:28px;border-radius:8px;background-color:rgba(0,229,255,0.1);border:1px solid rgba(0,229,255,0.2);text-align:center;font-family:'Share Tech Mono','Courier New',monospace;font-size:12px;font-weight:bold;color:#00e5ff;line-height:28px\">02</td></tr></table></td><td style=\"padding-left:12px;padding-bottom:16px;vertical-align:top\"><span style=\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:14px;font-weight:600;color:#e4e4e7;display:block;padding-bottom:2px\">Pilot-Start</span><span style=\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:13px;color:#71717a;line-height:1.5\">Sobald es losgeht, bekommst du eine persönliche Einladung.</span></td></tr><tr><td width=\"36\" valign=\"top\"><table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"width:28px;height:28px;border-radius:8px;background-color:rgba(212,0,255,0.1);border:1px solid rgba(212,0,255,0.2);text-align:center;font-family:'Share Tech Mono','Courier New',monospace;font-size:12px;font-weight:bold;color:#d400ff;line-height:28px\">03</td></tr></table></td><td style=\"padding-left:12px;vertical-align:top\"><span style=\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:14px;font-weight:600;color:#e4e4e7;display:block;padding-bottom:2px\">Setup auf euren Ablauf</span><span style=\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:13px;color:#71717a;line-height:1.5\">Wir konfigurieren das System gemeinsam für eure Standorte.</span></td></tr></table><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"padding-bottom:28px\"><table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"width:4px;height:2px;background-color:#ccff00\"></td><td style=\"width:4px;height:2px\"></td><td style=\"width:4px;height:2px;background-color:#ccff00\"></td><td style=\"width:4px;height:2px\"></td><td style=\"width:4px;height:2px;background-color:#ccff00\"></td><td style=\"width:4px;height:2px\"></td><td style=\"width:4px;height:2px;background-color:#ccff00\"></td><td style=\"width:4px;height:2px\"></td><td style=\"width:4px;height:2px;background-color:#ccff00\"></td><td style=\"width:4px;height:2px\"></td><td style=\"width:4px;height:2px;background-color:#ccff00\"></td><td style=\"width:4px;height:2px\"></td><td style=\"width:4px;height:2px;background-color:#ccff00\"></td><td style=\"width:4px;height:2px\"></td><td style=\"width:4px;height:2px;background-color:#ccff00\"></td></tr></table></td></tr></table><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"background-color:rgba(255,255,255,0.04);border:1px solid rgba(255,255,255,0.08);border-radius:12px;padding:20px\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:14px;font-weight:600;color:#fff;padding-bottom:6px\">Was ist OUTAG3?</td></tr><tr><td style=\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:13px;line-height:1.6;color:#a1a1aa\">Kunden melden Probleme am Automaten per Anruf. Die KI erfasst das Problem, setzt die Priorität und dein Team bekommt eine klare Aufgabe — ohne Papierchaos und ohne IT-Kenntnisse.</td></tr></table></td></tr></table><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"padding-top:28px\" align=\"center\"><table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"border-radius:100px;background-color:#ccff00\" align=\"center\"><a href=\"https://gcb-incident.example/preise\" target=\"_blank\" style=\"display:inline-block;padding:14px 32px;font-family:'Share Tech Mono','Courier New',monospace;font-size:13px;font-weight:bold;color:#0f1a2b;text-decoration:none;letter-spacing:1px\">PREISE ANSEHEN</a></td></tr></table></td></tr></table></td></tr><tr><td style=\"height:3px;background:linear-gradient(90deg,#ccff00,#00e5ff,#d400ff);font-size:0;line-height:0\">&nbsp;</td></tr><tr><td style=\"padding:28px 36px 0\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"font-family:'Share Tech Mono','Courier New',monospace;font-size:16px;font-weight:bold;color:#fff;padding-bottom:8px\"><span style=\"color:#fff\">OUTAG</span><span style=\"color:#ccff00\">3</span></td></tr><tr><td style=\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:12px;line-height:1.6;color:#52525b;padding-bottom:6px\">Dutz Jonas, Kowalsky Janik, Then Philipp GbR<br>info@gcbavaria.com</td></tr><tr><td style=\"font-family:'Courier New',monospace;font-size:9px;letter-spacing:1.5px;color:#3f3f46;padding-bottom:4px\">PILOT 2026 · MADE IN BAVARIA</td></tr><tr><td style=\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:11px;color:#3f3f46;padding-top:12px\">Du erhältst diese E-Mail, weil du dich für die OUTAG3 Waitlist eingetragen hast.</td></tr></table></td></tr></table></td></tr></table></body></html>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [940, -360],
      "id": "a1b2c3d4-e5f6-7890-abcd-100000000001",
      "name": "Waitlist Bestätigung senden",
      "credentials": {
        "smtp": {
          "id": "SMTP_CREDENTIAL_ID",
          "name": "SMTP (noch konfigurieren)"
        }
      }
    },
    {
      "parameters": {
        "resource": "task",
        "title": "=Background Check: {{ $('Webhook').item.json.body.company }}",
        "additionalFields": {
          "body": "=Firma: {{ $('Webhook').item.json.body.company }}\nKontakt: {{ $('Webhook').item.json.body.name }} ({{ $('Webhook').item.json.body.email }})\n\n— Checkliste —\n☐ Website der Firma aufrufen und prüfen\n☐ Google Maps: Standorte verifizieren\n☐ Google Reviews prüfen (Bewertungen, Beschwerden)\n☐ Handelsregister / Impressum prüfen\n☐ Branche und Größe einschätzen (Einzelaufsteller vs. Kette)\n☐ Gibt es bereits ein Beschwerdemanagement?\n☐ Lead-Score vergeben (A/B/C)",
          "status": "TODO",
          "assigneeId": ""
        }
      },
      "type": "@linkedpromo/n8n-nodes-twenty.twentyCrm",
      "typeVersion": 1,
      "position": [940, -200],
      "id": "a1b2c3d4-e5f6-7890-abcd-100000000002",
      "name": "Task: Background Check",
      "credentials": {
        "twentyCrmApi": {
          "id": "yWpq66lClASkeKTo",
          "name": "Twenty CRM account"
        }
      }
    },
    {
      "parameters": {
        "resource": "task",
        "title": "=Instagram Scraping: {{ $('Webhook').item.json.body.company }}",
        "additionalFields": {
          "body": "=Firma: {{ $('Webhook').item.json.body.company }}\nKontakt: {{ $('Webhook').item.json.body.name }}\n\n— Checkliste —\n☐ Instagram-Profil der Firma suchen\n☐ Follower-Anzahl und Aktivität notieren\n☐ Letzte Posts prüfen (Automaten-Bilder, Standorte)\n☐ Kundenbeschwerden in Kommentaren suchen\n☐ Story-Highlights prüfen (Standorte, Team)\n☐ Gibt es getaggte Standort-Posts von Kunden?\n☐ Screenshot + Link im CRM hinterlegen",
          "status": "TODO",
          "assigneeId": ""
        }
      },
      "type": "@linkedpromo/n8n-nodes-twenty.twentyCrm",
      "typeVersion": 1,
      "position": [940, -40],
      "id": "a1b2c3d4-e5f6-7890-abcd-100000000003",
      "name": "Task: Instagram Scraping",
      "credentials": {
        "twentyCrmApi": {
          "id": "yWpq66lClASkeKTo",
          "name": "Twenty CRM account"
        }
      }
    },
    {
      "parameters": {
        "resource": "task",
        "title": "=LinkedIn Scraping: {{ $('Webhook').item.json.body.company }}",
        "additionalFields": {
          "body": "=Firma: {{ $('Webhook').item.json.body.company }}\nKontakt: {{ $('Webhook').item.json.body.name }}\n\n— Checkliste —\n☐ LinkedIn-Firmenprofil suchen\n☐ Mitarbeiteranzahl und Branche notieren\n☐ Entscheider identifizieren (Geschäftsführer, Operations)\n☐ Persönliches LinkedIn-Profil des Kontakts suchen\n☐ Gemeinsame Kontakte / Connections prüfen\n☐ Aktuelle Posts und Aktivität analysieren\n☐ Firmenbeschreibung und Spezialgebiete notieren\n☐ Link im CRM hinterlegen",
          "status": "TODO",
          "assigneeId": ""
        }
      },
      "type": "@linkedpromo/n8n-nodes-twenty.twentyCrm",
      "typeVersion": 1,
      "position": [940, 120],
      "id": "a1b2c3d4-e5f6-7890-abcd-100000000004",
      "name": "Task: LinkedIn Scraping",
      "credentials": {
        "twentyCrmApi": {
          "id": "yWpq66lClASkeKTo",
          "name": "Twenty CRM account"
        }
      }
    },
    {
      "parameters": {
        "resource": "task",
        "title": "=Erstgespräch planen: {{ $('Webhook').item.json.body.name }}",
        "additionalFields": {
          "body": "=Firma: {{ $('Webhook').item.json.body.company }}\nKontakt: {{ $('Webhook').item.json.body.name }}\nE-Mail: {{ $('Webhook').item.json.body.email }}\nTelefon: {{ $('Webhook').item.json.body.phone || 'nicht angegeben' }}\nNachricht: {{ $('Webhook').item.json.body.message || 'keine' }}\nPlan: {{ $('Webhook').item.json.body.plan || 'nicht gewählt' }}\n\n— Checkliste —\n☐ Background Check abwarten\n☐ Calendly-Link oder Terminvorschlag senden\n☐ 15-Min-Call vorbereiten:\n  • Wie viele Standorte?\n  • Welche Beschwerden kommen am häufigsten?\n  • Wie werden Beschwerden aktuell bearbeitet?\n  • Wer bearbeitet Beschwerden im Team?\n☐ Gesprächsnotizen im CRM hinterlegen",
          "status": "TODO",
          "assigneeId": ""
        }
      },
      "type": "@linkedpromo/n8n-nodes-twenty.twentyCrm",
      "typeVersion": 1,
      "position": [940, 280],
      "id": "a1b2c3d4-e5f6-7890-abcd-100000000005",
      "name": "Task: Erstgespräch planen",
      "credentials": {
        "twentyCrmApi": {
          "id": "yWpq66lClASkeKTo",
          "name": "Twenty CRM account"
        }
      }
    },
    {
      "parameters": {
        "resource": "task",
        "title": "=Pilot-Setup vorbereiten: {{ $('Webhook').item.json.body.company }}",
        "additionalFields": {
          "body": "=Firma: {{ $('Webhook').item.json.body.company }}\nPlan: {{ $('Webhook').item.json.body.plan || 'nicht gewählt' }}\n\n— Checkliste —\n☐ Erstgespräch abgeschlossen\n☐ Standortliste und Automatentypen erfassen\n☐ Typische Beschwerdekategorien definieren\n☐ Telefonnummer für Voice-Intake einrichten\n☐ Webformular-Einbindung vorbereiten\n☐ E-Mail-Routing konfigurieren (wer bekommt Tickets?)\n☐ KI-Prompt auf Kundensprache anpassen\n☐ Testlauf mit 3 Beispiel-Beschwerden",
          "status": "TODO",
          "assigneeId": ""
        }
      },
      "type": "@linkedpromo/n8n-nodes-twenty.twentyCrm",
      "typeVersion": 1,
      "position": [940, 440],
      "id": "a1b2c3d4-e5f6-7890-abcd-100000000006",
      "name": "Task: Pilot-Setup vorbereiten",
      "credentials": {
        "twentyCrmApi": {
          "id": "yWpq66lClASkeKTo",
          "name": "Twenty CRM account"
        }
      }
    },
    {
      "parameters": {
        "resource": "task",
        "title": "=Google Maps Recherche: {{ $('Webhook').item.json.body.company }}",
        "additionalFields": {
          "body": "=Firma: {{ $('Webhook').item.json.body.company }}\n\n— Checkliste —\n☐ Google Maps nach Firmenname + 'Automatenladen' suchen\n☐ Alle Standorte erfassen (Adressen, Anzahl)\n☐ Google Reviews lesen und zusammenfassen\n☐ Durchschnittsbewertung notieren\n☐ Häufigste Beschwerdethemen aus Reviews extrahieren\n☐ Fotos prüfen (Automatentypen, Zustand)\n☐ Öffnungszeiten und Erreichbarkeit notieren\n☐ Ergebnisse im CRM hinterlegen",
          "status": "TODO",
          "assigneeId": ""
        }
      },
      "type": "@linkedpromo/n8n-nodes-twenty.twentyCrm",
      "typeVersion": 1,
      "position": [940, 600],
      "id": "a1b2c3d4-e5f6-7890-abcd-100000000007",
      "name": "Task: Google Maps Recherche",
      "credentials": {
        "twentyCrmApi": {
          "id": "yWpq66lClASkeKTo",
          "name": "Twenty CRM account"
        }
      }
    },
    {
      "parameters": {
        "resource": "task",
        "title": "=Wettbewerbsanalyse: {{ $('Webhook').item.json.body.company }}",
        "additionalFields": {
          "body": "=Firma: {{ $('Webhook').item.json.body.company }}\nBranche: {{ $('Webhook').item.json.body.vertical || 'automaten' }}\n\n— Checkliste —\n☐ Direkte Wettbewerber in der Region identifizieren\n☐ Nutzt der Wettbewerb bereits ein Beschwerdesystem?\n☐ Preisvergleich: Was zahlen ähnliche Betriebe für Support?\n☐ Alleinstellungsmerkmale des Leads vs. Wettbewerb\n☐ Potenzial für Referral (kennen die weitere Betreiber?)\n☐ Zusammenfassung im CRM hinterlegen",
          "status": "TODO",
          "assigneeId": ""
        }
      },
      "type": "@linkedpromo/n8n-nodes-twenty.twentyCrm",
      "typeVersion": 1,
      "position": [940, 760],
      "id": "a1b2c3d4-e5f6-7890-abcd-100000000008",
      "name": "Task: Wettbewerbsanalyse",
      "credentials": {
        "twentyCrmApi": {
          "id": "yWpq66lClASkeKTo",
          "name": "Twenty CRM account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Create a company",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create a company": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Create a person",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a person": {
      "main": [
        [
          {
            "node": "Waitlist Bestätigung senden",
            "type": "main",
            "index": 0
          },
          {
            "node": "Task: Background Check",
            "type": "main",
            "index": 0
          },
          {
            "node": "Task: Instagram Scraping",
            "type": "main",
            "index": 0
          },
          {
            "node": "Task: LinkedIn Scraping",
            "type": "main",
            "index": 0
          },
          {
            "node": "Task: Erstgespräch planen",
            "type": "main",
            "index": 0
          },
          {
            "node": "Task: Pilot-Setup vorbereiten",
            "type": "main",
            "index": 0
          },
          {
            "node": "Task: Google Maps Recherche",
            "type": "main",
            "index": 0
          },
          {
            "node": "Task: Wettbewerbsanalyse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "headers": {
          "host": "n8n.gcbavaria.com",
          "user-agent": "node",
          "content-length": "187",
          "accept": "*/*",
          "accept-encoding": "br, gzip, deflate",
          "accept-language": "*",
          "api": "allgf43920-oow22axfllwa-21445114048c",
          "content-type": "application/json",
          "sec-fetch-mode": "cors",
          "via": "1.1 Caddy",
          "x-forwarded-for": "34.230.62.199",
          "x-forwarded-host": "n8n.gcbavaria.com",
          "x-forwarded-proto": "https",
          "x-invocation-id": "fra1::2hbcb-1772704690920-3b6f5cb0e606",
          "x-vercel-id": "fra1::2hbcb-1772704690920-3b6f5cb0e606"
        },
        "params": {},
        "query": {},
        "body": {
          "name": "Janik Kowalsky",
          "company": "gcb",
          "email": "janikkow@pm.me",
          "vertical": "automaten",
          "message": "ich finds cool",
          "phone": "0160922",
          "plan": "professional",
          "createdAt": "2026-03-05T09:58:11.737Z",
          "ip": "93.229.100.159"
        },
        "webhookUrl": "https://n8n.gcbavaria.com/webhook/leads/beschwerden",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bf0b53e98be6faae67b881815e4b32187ba4d26e28f8c2f7533abe47c61a5843"
  }
}